h3
{
    text-align: center;
    font-size: 2em;
    color: #f5eddc;
}
.title
{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1.5em;
}
.titlebox
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b2653b;
    color: #f5eddc;
    margin: auto 15%;
    max-width:100vw;
    padding: 1%;
    font-size: xx-large;
}

body {
    background-color: #181818;
}
.mainpara
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1b1b;
    color: #f5eddc;
    max-width: 100vw;
    padding: 2%;
    font-size: large;
    display: block;
}
.links
{
    float: left;
    text-align: center;
}